  body { font-family: sans-serif; max-width: 500px; margin: 40px auto; text-align: center; }
        .mensaje-item { background: #f4f4f4; margin: 5px; padding: 10px; border-radius: 5px; border-left: 5px solid #007bff; }
        input { padding: 10px; width: 70%; }
        button { padding: 10px; cursor: pointer; background: #007bff; color: white; border: none; }